$color-primary-400: #7bcf77;
$color-primary-500: #4caf50;

$color-success-400: #4ae07c;
$color-success-500: #16cc65;

$color-info-400: #3493d2;
$color-info-500: #0063b5;

$color-warning-400: #fac240;
$color-warning-500: #f7a502;

$color-danger-400: #ff7967;
$color-danger-500: #ff3c35;
