.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  a {
    cursor: pointer;
  }
}

.pagination__link {
  transition: all 0.25s;
  padding: 0.2rem 0.6rem;
  border-radius: 4px;
}

.pagination__link__active {
  background-color: #4caf50;
  color: #fff;
}
