body {
    background-color: beige;
}

header {
    position: relative;
    padding: 20px;
}

header hr {
    border: 1px solid #ccc; /* 선 스타일 설정 */
    margin-top: 10px; /* 선 위 여백 설정 */
}

header h2{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

header button{
    position: absolute;
    left: 20px;
    top: 25px;
    cursor: pointer;
    border: none;
    background-color: beige;
    /* 버튼색상 배경색이랑 동일하게 줌 */
} 

.signup-nickname {
    padding: 0px 20px 20px 20px;
}

.signup-nickname-wrap{
    margin-bottom: 20px;
}

.signup-nickname-wrap button{
    position: fixed;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
}

.signup-nickname-wrap input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-nickname-wrap p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
}

.send-btn{
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
}

.send-btn:hover {
    background-color: #45a049;
}