.userinfo-update {
  width: 100%;

  h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.form-group {
  gap: 10px !important;

  p {
    color: red;
    font-size: 12px;
  }
}

.modify-bt {
  width: 30%;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}
