.notice {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  &__center {
    width: 100%;
    border-collapse: collapse;
    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
    }
    th {
      background-color: #f2f2f2;
    }
  }
  &__bottom {
    display: flex;
    justify-content: end;
  }
  &__pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    > button {
      margin: 0 5px;
      padding: 8px 16px;
      text-decoration: none;
      color: #333;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
  }
}

.notice__bottom {
  width: 100%;
  flex-direction: column;
  div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

select {
  border: 1px solid #33333348 !important;
  padding: 4px 12px;
  border-radius: 4px;
  text-align: center;
}

input {
  border: 1px solid #33333348 !important;
  padding: 4px 12px;
  border-radius: 4px;
}

.search-container {
  display: flex;
  gap: 8px;
}
